/* Font Styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    max-width: 1140px;
    margin: 0 auto;
}
/* Shared styles */
.display-flex{
    display: flex;
}
.gray-1{
    color: #8987A1;
}
.gray-2 {
color: rgba(0, 0, 0, 0.50);
font-size: 1.27rem;

}
.gray-3{
    color: #6B7280;
}
.orange{
    color: #E95A08;
}
.btn{
    background-color:  #E95A08 ;
    color: white;
    padding: 19px 80px;
    border: none;
    font-weight: 600px;
    font-size: 1rem;
}
.regular{
    font-size: 1.35rem;
}
/* Header styles */
/* nav styles */
nav{
    /* max-width: 1140px; */
    height: 71px;
    margin: 30px auto;

}
.navbar{
    justify-content:space-between;
    align-items: center;
}
.nav-links{
     list-style: none;
     gap: 48px;
}
.nav-link{
    text-decoration: none;
}
#shop{
    padding-right: 16px;
}
.home-1{
    color: black;
}
/* Banner Styles */
.banner{
    /* position: absolute; */
    /* max-width: 1140px; */
     margin: 120px auto;
     /* flex-direction: row; */
    justify-content: space-between;
    /* align-items: flex-end; */
}
.banner-info{
    /* display: block; */
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{
   
}
/* Main Styles */

/* Plants Styles */
.plants{
    /* max-width: 1140px;  */
    justify-content: space-between;
    text-align: center;
    margin-top: 0 120px;
}
#plants-content{
    
}
.plants-title{
    font-weight: 700;
    font-size: 3rem;
}
/* card Style */
.cards{
    /* width: 100%; */
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 gap: 30px 20px;
margin-bottom: 269px;
}
.card{
    width: 100%;
    /* width: 270px;
    height: 485px; */
}
.card-img{
    width: 100%;

}
.flower-info{
    padding: 30px 0;
}
.lily{
 font-weight: 500;
 font-size: 1.25rem;
 /* padding-bottom: 20px; */
}
.usd{
     font-weight: 700;
 font-size: 1.25rem;
 /* padding-bottom: 30px; */
}
/* Flower Lover Styles */
.flower-lover{
     /* max-width: 1140px; */
    margin:138px auto ; 
    justify-content: space-between;
}
.flower-lover-content{
  justify-content: space-around;
 align-items: center; 
  gap: 60px;
}
#badge{
    position: absolute;
    height: 246px;
    width: 246px; 
    margin-top: -127px;
    margin-left: 410px;
}
.flower-lover-info{
/* flex-direction: column;
justify-content: center;
align-items: center; */

}
.flower-lover-title {
    font-weight: 700;
    font-size: 3.25rem;
}
.flower-lover-description{

    padding: 20px 0;
}
/* Latest Deals */
#latest-content{
    text-align: center;
    margin-bottom: 121px;
}
/* layout styles */
.layout{
    /* max-width: 1140px; */
    margin:120px auto;
    justify-content: center;
    align-items: center;
    gap: 28px;
}
.bloom-ana{
    display:flex;
    flex-direction:column ;
    gap: 20px;
}
.bloom-plant{
 background-image: url(../assets/deal-bloom.png);
 width: 70%;
 /* margin: auto; */
 width: 336px;
 height: 206px;
 text-align: center;
 color: white;
 border-radius: 14px;
 flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bloom{
    font-weight: 700;
    font-size: 1.25rem;
}
.ana-plant{
 background-image: url(../assets/deal-ana.png);
 width: 30%; 
width: 367px;
 height: 197px;
 text-align: center;
 color: white;
  border-radius: 14px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ana{
    font-weight: 700;
    font-size: 1.25rem;
    /* padding-top: 20px; */
}
.zabo-plant{
 background-image: url(../assets/deal-zabo.png);
 box-sizing: border-box;
 
 width: 100%; 
 width: 753px;
  height: 423px;
 color: white;
  border-radius: 22px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.zabo {
    font-weight: 700;
    font-size: 2.5rem;
}
.shop-now{
    color: white;
}
/* Join Styles */
.join{
    margin: 0 auto;
    margin-bottom: 50px ;
    background-image: url(../assets/news-letter-bg.png);
    width: 100%;
    height: 533px;
     display: flex;
    justify-content: center;
    align-items: center;
}
.join-info{
    /* text-align: center; */
    /* padding: 99px 305px 193px 305px; */
    flex-direction: column;
  justify-content: center;
  align-items: center;


}
.join-title{
    color: white;
    border: none;
    font-weight: bold;
    font-size: 3.25rem;

}
input{
    padding: 18px 340px 19px 20px  ;
    border: none;
}
.Subscribe{
    background: #E95A08;
    border: none;
    padding: 19px 56px ;
    margin-left: -4px;
    font-weight: 600;
    color: white;
}
.join-items {

    justify-content: center;
    align-items: center;
/* padding: 50px 50px 50px 50px; */

}
/* Footer Styles */
.footer-content{
    justify-content: space-evenly;
}
.footer-links{
    list-style: none;
}
.footer-link{
    text-decoration: none;
  padding-top: 32px;
}
.footer-icon{
    gap: 10px;
}
.link2{
    padding-top: 32px;
}
.link3{
    padding-top: 32px;
}
.link4{
    padding-top: 32px;
}
.link5{
    padding-top: 32px;
}

#icon2{
    padding-left: 16px;
}
#icon3{
    padding-left: 16px;
}
#icon4{
    padding-left: 16px;
}
#icon2{
    padding-left: 16px;
}
footer{
    margin-bottom: 50px;
}

@media screen and (max-width:576px) {
    
    .nav{

    }
    .nav-item{
        display: none;
    }

    .banner{
        flex-direction: column-reverse;
    }
    .banner-info{
        /* text-align: center; */
    }
    .cards{
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }
    #badge{
        display: none;
    }
    .flower-lover-content{
        flex-direction: column;

    }
    .layout{
        display: none;
        flex-direction: column;
    }
    .join{
        width: 100%;
    }
    .join-items{
        display: flex;
        width: 10%;
    }
    .join-info{
        width: 5%;
    }
    .join-title{
      font-size: 1.25rem;
    }
    input{
        width: 5%;
    }
.footer-content{
    flex-direction: column; 

    justify-items:center;
    align-items: start;
}
}