/* Font Styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared styles */
.display-flex{
    display: flex;
}
.gray-1{
    color: #8987A1;
}
.gray-2 {
color: rgba(0, 0, 0, 0.50);
font-size: 1.27rem;

}
.orange{
    color: #E95A08;
}
.btn{
    background-color:  #E95A08 ;
    color: white;
    padding: 19px 80px;
    border: none;
    font-weight: 600px;
    font-size: 1rem;
}
.regular{
    font-size: 1.35rem;
}
/* Header styles */
/* nav styles */
nav{
    max-width: 1140px;
    height: 71px;
    margin: 30px auto;

}
.navbar{
    justify-content:space-between;
    align-items: center;
}
.nav-links{
     list-style: none;
     gap: 48px;
}
.nav-link{
    text-decoration: none;
}
.home-1{
    color: black;
}
/* Banner Styles */
.banner{
    /* position: absolute; */
    max-width: 1140px;
     margin: 120px auto;
     /* flex-direction: row; */
    justify-content: space-between;
    /* align-items: flex-end; */
}
.banner-info{
    /* display: block; */
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{
   
}
/* Main Styles */
/* Plants Styles */
.plants{
    max-width: 1140px; 
    justify-content: space-between;
    text-align: center;
    margin-top: 0 120px;
}
#plants-content{
    
}
.plants-title{
    font-weight: 700;
    font-size: 3rem;
}
/* card Style */
.cards{
    margin: 50px 50px;
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 gap: 100px 20px;
margin-bottom: 269px;
}
.card{
    width: 270px;
    height: 485px;
}
.flower-info{
    padding: 30px 0;
}
.lily{
 font-weight: 500;
 font-size: 1.25rem;
 /* padding-bottom: 20px; */
}
.usd{
     font-weight: 700;
 font-size: 1.25rem;
 /* padding-bottom: 30px; */
}
/* Flower Lover Styles */
.flower-lover{
     max-width: 1140px;
    margin:138px auto ; 
    justify-content: space-between;
}
.flower-lover-content{
  justify-content: space-around;
 align-items: center; 
  gap: 60px;
}
#badge{
    position: absolute;
    height: 246px;
    width: 246px; 
    margin-top: -127px;
    margin-left: 410px;
}
.flower-lover-info{
/* flex-direction: column;
justify-content: center;
align-items: center; */

}
.flower-lover-title{
    font-weight: 700;
    font-size: 3.25rem;
}
.flower-lover-description{

    padding: 20px 0;
}
/* Latest Deals */
#latest-content{
    text-align: center;
    margin-bottom: 121px;
}

